.ui.selection.active.dropdown .menu {
  height: 30em;
  overflow-y: scroll

}

.ui.dropdown .menu>.item>.image,
.ui.dropdown .menu>.item>img,
.ui.dropdown>.text>.image,
.ui.dropdown>.text>img {
  max-height: 3.5em;
}

.library {
  display: inline-block;
  width: 85%;
}

.delete-from-library {
  padding-top: 1%;
  font-size: 0.8rem;
  color: #f30017;
  cursor: pointer;
}

.delete-from-library:hover {
  opacity: 0.7;
  cursor: pointer;
}

.errors {
  text-align: center;
  color: red;
}

.delete-button {
  display: inline-block;
  margin-left: 5px;
}


@media screen and (max-width: 9000px) {
  .ui.search.dropdown .menu {
    max-height: 30em;
  }
}


@media screen and (max-width: 850px) {
  .ui.search.dropdown .menu {
    max-height: 30em;
  }
}

@media screen and (max-width: 768px) {
  .ui.search.dropdown .menu {
    max-height: 25em;
  }
}

@media screen and (max-width: 850px) {

  .delete-button {
    display: inline;
    text-align: center;
  }

  .library {
    display: inline;
    width: 90%;
    margin: 0 auto;
  }
}
