a, a:visited, a:active  {
  text-decoration: none;
  color: white;
}

div {
  font-family: 'Lato', sans-serif;
}

.menu {
  height: 10vh;
  display: grid;
  grid-template-columns: 20% 5% 60% 15%;
  text-align: center;
  color: white;
  margin: 0 20px;
}

.menu-logo {
  text-align: left;
  align-self: center;
  grid-column-start: 2;
  font-size: 3.0rem;
}

.nav-login {
  align-self: center;
}

a:hover {
  color: #dedede;
  text-decoration: none;
}

.menu-item {
  align-self: center;
}
.menu-title {
  text-align: left;
  align-self: center;
  grid-column-start: 3;
  font-size: 2.0rem;
}

.menu-item-icon {
  font-size: 2.0rem;
  margin-right: 20px;
}

@media screen and (max-width: 850px) {
  .menu {
    height: 10vh;
    display: grid;
    grid-template-columns: 20% 20% 25% 20%;
    text-align: center;
    color: white;
    margin: 0 20px;
  }

  .player {
      grid-column-start: 1;
  }

}


@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
