.main {
  /* padding: 0 10px; */
  width: 100%;
  display: grid;
  grid-template-columns: 35% 60%;
  grid-template-rows: 10% 90%;
}

.ui.input {
  width: 90%;
}

.search-section {
  grid-row-start: 1;
  grid-column-start: 1;
  text-align: center;
  margin: auto 0;
}

.library-section {
  grid-row-start: 1;
  grid-column-start: 2;
  padding: 10px;
}

.player {
  grid-row-start: 2;
  grid-column-start: 1;
  max-width: 90%;
  margin: 0 auto;
}

.podcast-info {
  text-align: center;
  margin-top: 10px
}

.feed-section {
  grid-row-start: 2;
  grid-column-start: 2;
  background-color: #f6f6f6;
  max-height: 600px;
  overflow-y: auto;
  border-radius: 10px;
}

.player-top-section {
  background-color: #f6f6f6;
  overflow-y: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.podcast-image img {
  width: 150px;
  height: 150px;
}

.podcast-title {
  padding: 10px 0 0 0;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.podcast-author {
  padding: 0 0 7px 0;
  display: block;
  font-size: 0.8rem;
  color: #777777;
}

.podcast-description {
  display: block;
  font-size: 0.7rem;
}

.current-episode {
  text-align: center;
}

.current-episode-title {
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.current-episode-description {
  padding: 10px;
  font-size: 0.7rem;
  text-align: justify;
  font-family: 'Lato', sans-serif;
}

.player-controls-section {

}

.player-bottom-section {
  background-color: #f6f6f6;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.empty-player {
  text-align: center;
  color: #797979;
  margin: 7%;
}

.question-mark {
  font-size: 3.0rem;
  text-align: center;
}

.landing-container {
  text-align: center;
  grid-row-start: 2;
  grid-column-start: 2;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto; 
}




@media screen and (max-width: 850px) {
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  .player {

  }

  .search-section {
    margin-top: 15px;
  }

  .feed-container {
    width: 90%;
    margin: 0 auto;
  }

}



@import url('https://fonts.googleapis.com/css?family=Lato');
