.main {
  padding: 0 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 28% 40% 30% 1%;
}

.search-section {
  grid-column-start: 1;
  width: 100%;
}

.player {
  grid-column-start: 2;
  width: 100%;
}

.library-section {
  grid-column-start: 3;
  padding: 10px;
}


.player-top-section {
  background-color: #f6f6f6;
  height: 180px;
  overflow-y: auto;
}

.podcast-image img {
  width: 150px;
  height: 150px;
  padding: 15px;
  float: left;
}

.podcast-title {
  padding: 10px 0 0 0;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.podcast-author {
  padding: 0 0 7px 0;
  display: block;
  font-size: 0.8rem;
  color: #777777;
}

.podcast-description {
  display: block;
  font-size: 0.7rem;
}

.current-episode {
  text-align: center;
}

.current-episode-title {
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.current-episode-description {
  padding: 10px;
  font-size: 0.7rem;
  text-align: justify;
  font-family: 'Lato', sans-serif;

}

.player-controls-section {

}

.empty-player {
  text-align: center;
  color: #797979;
  margin-top: 3%;
}

.question-mark {
  font-size: 3.0rem;
  text-align: center;
}


.feed-section {
  background-color: #f6f6f6;
  max-height: 600px;
  overflow-y: auto;
}

@media screen and (max-width: 850px) {
  .main {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
  }

  .player {
      grid-column-start: 1;
  }

}



@import url('https://fonts.googleapis.com/css?family=Lato');
