p {
  margin: 5px;

}

.search-results-container {
  margin: 0 10px 0 0;

}

.search-results {
  clear: left;
  height: 100px;
}

/* .search-results:hover {
  background-color: #dedede;
  cursor: pointer;
} */


.search-result-title {
  font-size: 1.0rem;
  font-weight: bold;
}


.search-result-author {
  font-size: 0.7rem;
  color: #a7a7a7;
}

.search-result-image {
  padding-right: 10px;
  padding-bottom: 5px;
  cursor: pointer;
  float: left;
}

.add-to-library {
  padding-top: 1%;
  font-size: 0.8rem;
  color: #ff9d00;
  cursor: pointer;
}

.add-to-library:hover {
  opacity: 0.7;
}


/* a:hover {

} */

/* img .search-result-image {
  float: left;
} */

img:hover {
  opacity: 0.5;
}
